<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы VUE</title>
    <link rel="stylesheet" href="style.css" />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <!-- <div class="container pt-5" id="app">
      <div class="card center">
        <h1>{{ title }}: {{ counter }}</h1>
        <div>
          <button class="btn primary" v-on:click="counter++">+</button>
          <button class="btn danger" v-on:click="counter--">-</button>
        </div>
      </div>
    </div> -->

    <div class="container" id="app" v-cloak>
      <div class="card">
        <h1
          :style="{
          color: inputValue.length < 5 ? '#ff4040' : 'blue',
          fontSize: inputValue.length < 5 ? '24px' : '32px',
      }"
          v-text="titleTodo"
        >
          <!-- {{ titleTodo }} -->
        </h1>
        <div class="form-control">
          <input
            type="text"
            v-bind:placeholder="placeholderString"
            :value="inputValue"
            v-model="inputValue"
            @keypress.enter="addNewNote"
          />
        </div>
        <button class="btn" v-on:click="addNewNote">Add item</button>
        <hr />
        <ul class="list" v-if="notes.length !== 0">
          <li class="list-item" v-for="(myNote, idx) in notes">
            <!-- <span :class="myNote.length > 5 ? 'primary' :'bold'"> -->
            <!-- <span
              :class="{
              'primary': true,
              'bold': myNote.length > 5
            }"
            > -->
            <span :class="['bold', {'primary': myNote.length > 5}]">
              ({{idx}}) {{ toUpperCase(myNote) }}</span
            >
            <button class="btn danger" v-on:click="removeNote(idx, $event)">
              X
            </button>
          </li>
          <hr />
          <li>
            <strong
              >общее: {{ notes.length }} || удвоенное количество: {{
              doubleCountComputed }}</strong
            >
          </li>
          <hr />
          <li class="list-item" v-for="(value, key) in person">
            <strong>{{key}}:</strong> {{ value }}
          </li>
        </ul>
        <div v-else>You dont have Items</div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
